<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <paths>
    <path key="jquery" value="/PlatJS/Scripts/jquery-1.8.3"/>
    <path key="jquery-ui" value="/PlatJS/Scripts/jquery-ui-1.9.2"/>
    <path key="jquery-event-drag" value="/PlatJS/Scripts/slickgrid/lib/jquery.event.drag-2.0.min"/>
    <path key="firebugx" value="/PlatJS/Scripts/slickgrid/lib/firebugx"/>
    <path key="slickgrid" value="/PlatJS/Scripts/slickgrid/slick.grid"/>
    <path key="slick-core" value="/PlatJS/Scripts/slickgrid/slick.core"/>
    <path key="slick-formatters" value="/PlatJS/Scripts/slickgrid/slick.formatters"/>
    <path key="slick-editors" value="/PlatJS/Scripts/slickgrid/slick.editors"/>
    <path key="slick-dataview" value="/PlatJS/Scripts/slickgrid/slick.dataview"/>
    <path key="slick-pager" value="/PlatJS/Scripts/slickgrid/controls/slick.pager"/>
    <path key="slick-columnpicker" value="/PlatJS/Scripts/slickgrid/controls/slick.columnpicker"/>
    <path key="slick-checkboxselectcolumn" value="/PlatJS/Scripts/slickgrid/plugins/slick.checkboxselectcolumn"/>
    <path key="slick-cellrangedecorator" value="/PlatJS/Scripts/slickgrid/plugins/slick.cellrangedecorator"/>
    <path key="slick-cellrangeselector" value="/PlatJS/Scripts/slickgrid/plugins/slick.cellrangeselector"/>
    <path key="slick-cellselectionmodel" value="/PlatJS/Scripts/slickgrid/plugins/slick.cellselectionmodel"/>
    <path key="slick-autotooltips" value="/PlatJS/Scripts/slickgrid/plugins/slick.autotooltips"/>
    <path key="slick-cellcopymanager" value="/PlatJS/Scripts/slickgrid/plugins/slick.cellcopymanager"/>
    <path key="slick-rowselectionmodel" value="/PlatJS/Scripts/slickgrid/plugins/slick.rowselectionmodel"/>
    <path key="cutetoolbar" value="/PlatJS/Scripts/cutetoolbar/cutetoolbar"/>
    <path key="fancybox" value="/PlatJS/Scripts/jquery.fancybox-buttons"/>
    <path key="fancybox-pack" value="/PlatJS/Scripts/jquery.fancybox.pack"/>
    <path key="jshelper" value="/PlatJS/Scripts/toolkit/jshelper"/>
    <path key="jstree" value="/PlatJS/Scripts/jstree/jquery.jstree"/>
    <path key="cutemenutab" value="/PlatJs/Scripts/cutelabeltab/cutemenutab"/>
  </paths>
  <shim>
    <dependencies for="jquery-ui" exports="">
      <add dependency="jquery"/>
    </dependencies>
    <dependencies for="slickgrid" exports="">
      <add dependency="jquery"/>
      <add dependency="jquery-ui"/>
      <add dependency="jquery-event-drag"/>
      <add dependency="firebugx"/>
      <add dependency="jshelper"/>
      <add dependency="slick-core"/>
      <add dependency="slick-formatters"/>
      <add dependency="slick-editors"/>
      <add dependency="slick-dataview"/>
      <add dependency="slick-pager"/>
      <add dependency="slick-columnpicker"/>
      <add dependency="slick-checkboxselectcolumn"/>
      <add dependency="slick-cellrangedecorator"/>
      <add dependency="slick-cellselectionmodel"/>
      <add dependency="slick-autotooltips"/>
      <add dependency="slick-cellcopymanager"/>
      <add dependency="slick-rowselectionmodel"/>
    </dependencies>
    <dependencies for="jstree" exports="">
      <add dependency="jquery"/>
      <add dependency="jquery-ui"/>
    </dependencies>
    <dependencies for="fancybox" exports="">
      <add dependency="jquery"/>
      <add dependency="jquery-ui"/>
      <add dependency="fancybox-pack"/>
    </dependencies>
    <dependencies for="jshelper" exports="">
      <add dependency="jquery"/>
    </dependencies>
    <dependencies for="cutemenutab" exports="">
      <add dependency="jquery"/>
    </dependencies>
    <dependencies for="cutetoolbar" exports="">
      <add dependency="jquery"/>
      <add dependency="jquery-ui"/>
    </dependencies>
  </shim>
</configuration>