<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <paths>
    <path key="jquery" value="/PlatJS/Scripts/jquery-1.8.3"/>
    <path key="jquery-ui" value="/PlatJS/Scripts/jquery-ui-1.9.2"/>
    <path key="fancybox" value="/PlatJS/Scripts/jquery.fancybox-buttons"/>
    <path key="fancybox-pack" value="/PlatJS/Scripts/jquery.fancybox.pack"/>
    <path key="jshelper" value="/PlatJS/Scripts/toolkit/jshelper"/>
    <path key="productform" value="/RequireMVC199/ViewJS/Controllers/Product/Product-Detail"></path>
  </paths>
  <shim>
    <dependencies for="jquery-ui" exports="">
      <add dependency="jquery"/>
    </dependencies>
    <dependencies for="fancybox" exports="">
      <add dependency="jquery"/>
      <add dependency="jquery-ui"/>
      <add dependency="fancybox-pack"/>
    </dependencies>
    <dependencies for="jshelper" exports="">
      <add dependency="jquery"/>
    </dependencies>
  </shim>
</configuration>