<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <paths>
    <path key="jquery" value="\PlatJS\Scripts\jquery-1.8.3.js"/>
    <path key="jquery-ui" value="\PlatJS\Scripts\jquery-ui-1.9.2.js"/>
  </paths>
  <shim>
    <dependencies for="jquery-ui" exports="">
      <add dependency="jquery"/>
    </dependencies>
  </shim>
</configuration>