@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FBox</title>
<link rel="stylesheet" href="~/Content/jquery.fancybox.css" />
<link rel="stylesheet" href="~/Content/jquery.fancybox-buttons.css" />

<script type="text/javascript" src="~/Scripts/jquery-1.8.2.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.fancybox.pack.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.fancybox-buttons.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#href163").fancybox();
        });
    </script>
</head>
<body>
    <div>
        <a id="href163" data-fancybox-type="iframe"  href="/ProductWebPortal/Product/Detail/2">This goes to iframe</a>
    </div>
</body>
</html>
