@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tool Bar</title>
    <link rel="stylesheet" href="/PlatJs/Scripts/cutetoolbar/css/cutetoolbar.css" />
    <style type="text/css">
        * {
            margin: 0;
            padding: 0;
        }
        body {
            background: repeat-x scroll left top transparent;
            font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
            font-size: 13px;
            height: 800px;
        }
    </style>

    <script type="text/javascript" src="~/Scripts/jquery-1.8.2.js"></script>
    <script type="text/javascript" src="/PlatJS/Scripts/cutetoolbar/cutetoolbar.js"></script>

    <script type="text/javascript">
        $(function () {
            $("#testCuteToolBar").cuteToolBarCtrl({
                defaultCRUDButtons: true,
                onSelectButton: function (e) {
                    ;//alert("button selected");
                }
            });

            $("#testCuteToolBar").cuteToolBarBind("search", onSearchClick);
            $("#testCuteToolBar").cuteToolBarBind("add", onAddClick);
            $("#testCuteToolBar").cuteToolBarBind("edit", onEditClick);
            $("#testCuteToolBar").cuteToolBarBind("delete", onDeleteClick);
            $("#testCuteToolBar").cuteToolBarBind("save", onSaveClick);
        })

        function onSearchClick() {
            alert("search");
        }

        function onAddClick() {
            alert("add");
        }

        function onEditClick() {
            alert("edit");
        }

        function onDeleteClick() {
            alert("delete");
        }

        function onSaveClick() {
            alert("save");
        }

    </script>
</head>
<body>
    <div style="width:600px;">
        <div id="testCuteToolBar" class="cutetoolbar">
            <ul>
                <li>
                   <a href="#"><img src="/PlatJS/Scripts/cutetoolbar/images/print.png" alt="" />打印</a>
                </li>
                <li>
                    <a href="#"><img src="/PlatJS/Scripts/cutetoolbar/images/Excel.png" alt="" />Excel</a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>
