#header {
	clear: both;
	float: left;
	width: 100%;
	border-bottom: 1px solid #000;
}

#footer{
	clear: both;
	float: left;
	width: 100%;
	border-top: 0px solid #000;
}                    

.content .primary{
	width: 970px;
	float: right;
	display: inline;
    background: #eee;
}
	
.content .secondary{
	width: 230px;
	float: left;
	display: inline;
}
	
.content .primary .primary{
	width:230px;
	float: left;
	display: inline;
}
	
.content .primary .secondary {
	width: 400px;
	float: right;
	display: inline;
}