@{
    ViewBag.Title = "Storage Check List";
    Layout = "~/Views/Shared/_LayoutOfList.cshtml";
}

<div id="storageCheckListContainer" style="position:relative;">
     <div style="width:560px;">
        <div id="storageCheckCuteToolBar" class="cutetoolbar">
            <ul>
                <li>
                   <a href="#"><img src="/PlatJS/Scripts/cutetoolbar/images/print.png" alt="" />打印</a>
                </li>
                <li>
                    <a href="#"><img src="/PlatJS/Scripts/cutetoolbar/images/Excel.png" alt="" />Excel</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="grid-header" style="width:560px;">
      <label>库存列表</label>
    </div>
    <div id="myGridStorageCheck"  style="width:560px;height:700px;border:gray solid 1px;overflow-y:auto;"></div>
    <div id="myPagerStorageCheck" style="width:560px;"></div>
</div>

<a id="storageCheckFormFancybox" data-fancybox-type="iframe" style="display:none"></a>

@Html.Partial("../Shared/_RequireSetupOfList")