@{
    ViewBag.Title = "BookForm";
    Layout = "~/Views/Shared/_bootstrapLayout.cshtml";
}

<h2>BookForm</h2>

<div>
    <label for="txtName">Name</label>
    <input id="txtName" type="text" value="some words" />

</div>

<div>
    <label for="txtAge">Age</label>
    <input id="txtAge" type="text" value="20" />

</div>