@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Product list information</title>
    <h1>hello everyone</h1>
</head>
<body>
    <div>
        
    </div>
</body>
</html>
