<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="/PlatJS/Content/layout/cute3columns.css" />
    <link rel="stylesheet" href="/PlatJS/Scripts/jstree/themes/classic/style.css" />
    <link rel="stylesheet" href="/PlatJs/Scripts/cutelabeltab/Content/treetab.css" />
    <link rel="stylesheet" href="/PlatJs/Scripts/cutelabeltab/Content/toptab.css" />
    <link rel="stylesheet" href="/PlatJs/Scripts/cutelabeltab/Content/bottomtab.css" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
