<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    
    <link rel="stylesheet" href="/PlatJS//Content/themes/base/jquery.ui.all.css" />
    <link rel="stylesheet" href="/PlatJS/Scripts/jstree/themes/classic/style.css" />
    <link rel="stylesheet" href="/PlatJs/Scripts/cutetoolbar/css/cutetoolbar.css" />
    <link rel="stylesheet" href="/PlatJS/Content/jquery.fancybox.css" />
    <link rel="stylesheet" href="/PlatJS/Content/jquery.fancybox-buttons.css" />
    <link rel="stylesheet" href="/PlatJS/Scripts/slickgrid/slick.grid.css" />
    <link rel="stylesheet" href="/PlatJS/Scripts/slickgrid/css/smoothness/jquery-ui-1.8.16.custom.css" />
    <link rel="stylesheet" href="/PlatJS/Scripts/slickgrid/examples/examples.css" />
    <link rel="stylesheet" href="/PlatJS/Scripts/slickgrid/controls/slick.pager.css" />
    <link rel="stylesheet" href="/PlatJS/Scripts/slickgrid/controls/slick.columnpicker.css" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>