div.cutetoptab {
  background:#BFDBFF;
  float:none;
  font-size:93%;
  line-height:normal;
  width:100%;
  height:auto;
}

div.cutetoptab>ul {
  background: #BFDBFF url(images/bg_tab.png) repeat-x scroll center bottom;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin: 0;
  padding: 10px 10px 0;
  height: 400px;
  overflow: hidden;
}

div.cutetoptab>ul>li {
  float: left;
  margin: 0;
  padding: 0 0 0 9px;
}

div.cutetoptab>a {
  color:#776655;
  display:block;
  float:none;
  padding: 4px 15px 0px 6px;
  text-decoration:none;
  cursor:default;
  height: 23px; 
}

div.cutetoptab>a:hover {
  color:#15428B;
}

div.cutetoptab>a {
  outline:expression(hideFocus='true');
  outline:0;
}

div.cutetoptab :focus {
  -moz-outline-style: none;
}

div.cutetoptab>ul>li
{
    background: transparent url(images/tab_right_over.gif) no-repeat scroll right top;
}

div.cutetoptab>ul>li{
  background: transparent url(images/tab_left_over.gif) no-repeat scroll left top;
  color: #15428B;
}
div.cutetoptab>ul>li.current {
  background-image:url(images/tab_left.gif);
}

div.cutetoptab>ul>li>a {
  background: transparent url(images/tab_right_over.gif) no-repeat scroll right top;
}
div.cutetoptab>ul>li.current>a {
  background: transparent url(images/tab_right.gif) no-repeat scroll right top;
  color: #15428B;

}
