@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FancyFrame</title>
    <link rel="stylesheet" href="/PlatJs/Scripts/cutetoolbar/css/cutetoolbar.css" />
<link rel="stylesheet" href="/PlatJS/Content/jquery.fancybox.css" />
<link rel="stylesheet" href="/PlatJS/Content/jquery.fancybox-buttons.css" />

<script type="text/javascript" src="/ProductWebPortal/Scripts/jquery-1.8.2.js"></script>
<script type="text/javascript" src="/PlatJS/Scripts/toolkit/ajaxHelper.js"></script>

<script type="text/javascript" src="/PlatJS/Scripts/cutetoolbar/cutetoolbar.js"></script>
<script type="text/javascript" src="/PlatJS/Scripts/jquery.fancybox.pack.js"></script>
<script type="text/javascript" src="/PlatJS/Scripts/jquery.fancybox-buttons.js"></script>
    <script type="text/javascript">
        $(function () {
            //订单表单对话框
            $("#orderFormFancybox").fancybox({
                maxWidth: 600,
                maxHeight: 400,
                fitToView: false,
                width: '70%',
                height: '70%',
                autoSize: false,
                closeClick: false,
                openEffect: 'none',
                closeEffect: 'none'
            });

            $("#subContent").html("")
                  .load('/CssStyleApp199/Main/FancySubFrame', function () {
                      //$("#subContent").focus();
                  });
        });

        function onOrderPrintClick() {
            var url = "/ProductWebPortal/Order/Create";

            $("#orderFormFancybox").attr("href", url);
            $("#orderFormFancybox").click();
        }
</script>

</head>
<body>
    <div id="main">
        <input type="button" id="btnOrderPrint" onclick="onOrderPrintClick();"  value="Show"/>
    </div>
    <div id="divOrderForm">
        <a id="orderFormFancybox" data-fancybox-type="iframe" style="display:none;"></a>
    </div>
    <div id="subContent">

    </div>
</body>
</html>
