@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FancyFrame</title>
    <link rel="stylesheet" href="/PlatJs/Scripts/cutetoolbar/css/cutetoolbar.css" />
<link rel="stylesheet" href="/PlatJS/Content/jquery.fancybox.css" />
<link rel="stylesheet" href="/PlatJS/Content/jquery.fancybox-buttons.css" />

<script>window.jQuery || document.write(
        '<script src="/ProductWebPortal/Scripts/jquery-1.8.2.js"><\/script>'
        )
</script>

@*<script type="text/javascript" src="/PlatJS/Scripts/toolkit/ajaxHelper.js"></script>

<script type="text/javascript" src="/PlatJS/Scripts/cutetoolbar/cutetoolbar.js"></script>
<script type="text/javascript" src="/PlatJS/Scripts/jquery.fancybox.pack.js"></script>
<script type="text/javascript" src="/PlatJS/Scripts/jquery.fancybox-buttons.js"></script>*@

<script type="text/javascript">
    $(function () {
        //订单表单对话框
        $("#productFormFancybox").fancybox({
            maxWidth: 600,
            maxHeight: 400,
            fitToView: false,
            width: '70%',
            height: '70%',
            autoSize: false,
            closeClick: false,
            openEffect: 'none',
            closeEffect: 'none'
        });
    });

    function onProductPrintClick() {
        var url = "/ProductWebPortal/Product/Create";

        $("#productFormFancybox").attr("href", url);
        $("#productFormFancybox").click();
    }
</script>

</head>
<body>
    <div id="main">
        <input type="button" id="btnProductPrint" onclick="onProductPrintClick();"  value="Sub Fancy Show"/>
    </div>
    <div id="divProductForm">
        <a id="productFormFancybox" data-fancybox-type="iframe" style="display:none;"></a>
    </div>
</body>
</html>
