@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script type="text/javascript" data-main="../Scripts/main.js" src="~/Scripts/require.js"></script>

    <title>RequireJS</title>
</head>
<body>
    <div>
        
    </div>
</body>
</html>

