@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style type="text/css">
        body
        {
            padding: 0;
            margin: 0;
            color: #FFF;
            text-align:center
        }
        #top
        {
            height: 60px;
            background: #fff;
            position: relative;
            top: 0;
            clear: both;
            padding: 10px;
        }
        #left
        {
            width: 20%;
            background: #293955;
            left: 0;
            top:90px;
            position: absolute;
            height: 100%;
        }
        #left-2nd
        {
            width: 20%;
            background: #00a0e9;
            top:90px;
            position: absolute;
            height: 100%;
        }
        #main
        {
            position: absolute;
            right: 0;
            top: 90px;
            width: 60%;
            background: #a7c0dc;
            height: 100%;
        }
    </style>
</head>
<body>
    <div id="top"></div>
    <div id="left"></div>
    <div id="left-2nd"></div>
    <div id="main"></div>
</body>
</html>
