<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>A simple MVC structure</title>
    <link rel="stylesheet" href="../Content/style.css">
</head>
<body>
    <div id="container">
        <h1>My users</h1>
        <nav><a href="#list">List</a> - <a href="#add">Add</a></nav>
        <div id="app"></div>
    </div>
    <script data-main="../Javascript/main" src="../Scripts/require.js"></script>
</body>
</html>