.surge-slickGrid-loaded-marker {
  z-index: -98256;
  display: none; }

[data-widget=slickGrid] table {
  display: none; }

.sfx-grid-wrapper {
  background-color: #d9d9d9;
  border: 1px solid #aaa; }

.sfx-grid-header, .sfx-grid-header p, .sfx-grid-footer, .sfx-grid-footer p {
  line-height: 24px;
  margin: 0; }
.sfx-grid-header p, .sfx-grid-footer p {
  margin-left: 4px; }
.sfx-grid-header input[type=radio], .sfx-grid-footer input[type=radio] {
  margin: 0 4px 0 8px;
  vertical-align: sub; }
.sfx-grid-header label, .sfx-grid-footer label {
  margin: 0; }
.sfx-grid-header h2, .sfx-grid-footer h2 {
  font-size: 12pt;
  font-weight: bold;
  margin: 4px 0 4px 4px; }

.sfx-grid {
  height: 200px;
  background: #fff;
  clear: both; }
  .sfx-grid div {
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -khtml-box-sizing: content-box;
    -o-box-sizing: content-box; }
  .sfx-grid .slick-header-column, .sfx-grid .slick-header-columns {
    background: #eee none !important;
    color: #000 !important; }
  .sfx-grid .editor-text {
    font: 9pt Arial, "Helvetica Neue", Helvetica, Geneva, sans-serif;
    border: none;
    padding: 0px;
    width: 98%; }
  .sfx-grid .slick-cellRight {
    text-align: right; }
  .sfx-grid .slick-cellCenter {
    text-align: center; }
  .sfx-grid select {
    margin-left: 2px; }
  .sfx-grid input[type=checkbox] {
    margin: 4px;
    vertical-align: middle;
    text-align: center; }
  .sfx-grid .slick-row.selected {
    background-color: #fcf8c0; }
  .sfx-grid .slick-cell .ui-multiselect {
    background: none !important;
    border: 0px !important;
    color: #000 !important; }

.surge-cell-time {
  width: 50px; }
