@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/Scripts/jstree/themes/classic/style.css" />
    <script type="text/javascript" src="~/Scripts/jstree/_lib/jquery.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-ui-1.8.20.js"></script>
    <script type="text/javascript" src="~/Scripts/jstree/jquery.jstree.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#treeContainer").jstree({
                "json_data": {
                    "ajax": {
                        "url": "/mvcapplication199/FunctionMenu/FuncMenuData",
                        "type": "GET",
                        "dataType": "json",
                        "contentType": "application/json charset=utf-8",
                        //"data": function (n) {
                        //    return { id: n.attr ? n.attr("id") : 0 };
                        //},
                        "success": function (data) {
                            //alert(data);
                        }
                    }
                },
                "plugins": ["themes", "json_data", "ui"]
            });
        })
    </script>
</head>
<body>
    <div id="treeContainer" style="width:450px;height:100%;">
        
    </div>
</body>
</html>