@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>
<script type="text/javascript">
    function submitOrder() {
        var orderId = $("#orderId").val();
        var productId = $("#productId").val();
        var buyAmount = $("#buyAmount").val();
        var buyDate = $("#buyDate").val();
        var buyPerson = $("#buyPerson").val();

        var order = { ID: orderId, ProductID: productId, BuyAmount: buyAmount, BuyDate: buyDate, BuyPerson: buyPerson };
        $.post('http://localhost:8081/ProductSys.WebAPI/api/order', order,
            function (data) {
                alert(data);
            }
        );
    }
</script>

<body>

<div style="background-color:lightblue;margin:10px 7px 2px 3px">
<p>订单ID：<input type="text" id="orderId" value="" /></p>
<p>产品类型：<input type="text" id="productId" value="" /></p>
<p>订购数量：<input type="text" id="buyAmount" value="" /></p>
<p>购买日期：<input type="text" id="buyDate" value="" /></p>
<p>购买人：<input type="text" id="buyPerson" value="" /></p>
    </div>
<p><input type="button" value="保存" onclick="submitOrder()" /></p>
<br />
<a href="/ProductWebPortal/Order" target="_self">返回列表</a>
</body>