<html>
<head>
    <title>订单列表</title>
    <link href="Content/slick.grid.css"" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/slick.core.js" type="text/javascript"></script>
    <script src="~/Scripts/slick.grid.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            alert('hello');
        });

        function slickGridLoad() {
            var gird;
            var columns = [
                { id: "ID", name: "Order Id", field: "ID" },
                { id: "ProductId", name: "Product Id", field: "ProductId" },
                { id: "BuyAmount", name: "Buy Amount", field: "BuyAmount" },
                { id: "BuyDate", name: "Buy Date", field: "BuyDate" },
                { id: "BuyPerson", name: "Buy Person", field: "BuyPerson" }
            ];

            var options = {
                editable: true,
                enableAddRow: true,
                enableCellNavigation: true,
                asyncEditorLoading: false,
                autoEdit: false
            };

            var myData = [];
            $.getJSON("http://localhost:8081/ProductSys.WebAPI/api/Order", function (data) {
                myData = data;
                grid = new Slick.Grid("#orderGrid", myData, columns, options);
            });
            
        }

        function deleteOrder(id) {
            var c = confirm("确实要删除订单吗?!");

            if (c) {
                var orderId = $("#orderId").val();
                $.ajax({
                    type: "Delete",
                    dataType: "json",
                    contentType: "application/json",
                    url: "http://localhost:8081/ProductSys.WebAPI/api/Order/" + orderId,
                    success: function (result) {
                        alert("has delete one record.");
                    }
                });
            }
        }

        function getOrders() {
            $.getJSON("http://localhost:8081/ProductSys.WebAPI/api/Order", function (data) {
                $("#tblOrders tr").remove(".dataRow");
                $.each(data, function (idx, ele) {
                    $('#tblOrders').append('<tr class="dataRow"><td>' + ele.ID +
                        '</td><td>' + ele.ProductId +
                        '</td><td>' + ele.BuyAmount +
                        '</td><td>' + ele.BuyDate +
                        '</td><td>' + ele.BuyPerson +
                        '</td></tr>');
                });
            });
        }
    </script>
</head>

<body>
    <table id="tblOrders" style="width:98%;border:0px;background-color:lightblue;margin-top:8px">
        <tr style="background-color:#E7E7E7">
            <td colspan="6">
                产品列表
            </td>
            <td colspan="6">
                <a href="/ProductWebPortal/Order/Edit" style="color:blue">Add New Order</a>
            </td>
        </tr>
        <tr>
            <td>
                订单ID
            </td>
            <td>
                产品ID
            </td>
            <td>
                购买数量
            </td>
            <td>
                购买日期
            </td>
            <td>
                购买人
            </td>
        </tr>
    </table>
    <div>
        <input id="orderId" type="text" value="" style="width:40px" />
        <input type="button" value="Delete" onclick="deleteOrder()" />
        <input type="button" value="Load" onclick="slickGridLoad()" />
    </div>
    <table>
        <tr>
            <td>
                <div id="orderGrid" style="width:400px;height:300px" />
            </td>
        </tr>
    </table>
</body>
</html>