@{
    ViewBag.Title = "Order List";
    Layout = "~/Views/Shared/_LayoutOfList.cshtml";
}

<div id="orderListContainer" style="position:relative">
     <div style="width:600px;">
        <div id="orderCuteToolBar" class="cutetoolbar">
            <ul>
                <li>
                   <a href="#"><img src="/PlatJS/Scripts/cutetoolbar/images/print.png" alt="" onclick="onOrderListPrintClick();" />打印</a>
                </li>
                <li>
                    <a href="#"><img src="/PlatJS/Scripts/cutetoolbar/images/Excel.png" alt="" />Excel</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="grid-header">
        <label>采购订单列表</label>
        <span style="float:right" class="ui-icon ui-icon-search" title="Toggle search panel"></span>
    </div>
    <div id="myGridOrder" style="width:595px;height:400px;border:gray solid 1px;"></div>
    <div id="myPagerOrder"></div>
</div>

<a id="orderFormFancybox" data-fancybox-type="iframe" style="display:none;" class="orderFormFancybox"></a>

@Html.Partial("../Shared/_RequireSetupOfList")


