@{
    ViewBag.Title = "Product Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title>产品数据</title>
</head>
<body>
    <div id="ProductListBlock"></div>
    <span class="AddLink ButtonLink">Add New Product</span>
    <div id="ProductDialog" title="" class="hidden"></div>
    <script type="text/javascript">
        $(function () {
            //alert("Index Welcome");
            $("#ProductDialog").dialog({
                autoOpen: false, width: 400, height: 330, modal: true,
                buttons: {
                    "Save": function () {
                        $.post("/MvcDialogTutorial/Product/Save",
                            $("#ProductForm").serialize(),
                            function (data) {
                                $("#ProductDialog").dialog("close");
                                $("#ProductListBlock").html(data);
                            }
                                )
                    },
                    "Cancel": function () {
                        $(this).dialog("close");
                    }
                }
            });

            $(".AddLink").click(function () {
                $("#ProductDialog").html("")
	           		.dialog("option", "title", "Add Product")
	           		.load("/MvcDialogTutorial/Product/Create",
	           				function () {
	           				    $("#ProductDialog").dialog("open");
	           				});
            });

            $(".EditLink").live("click", function () {
                var id = $(this).attr("productid");
                $("#ProductDialog").html("")
                    .dialog("option", "title", "Edit Product")
                    .load("/MvcDialogTutorial/Product/Edit/" + id, 
                        function () {
                            $("#ProductDialog").dialog("open"); 
                        });
            });
            
            LoadProductList();
        })

        function LoadProductList() {
            //alert("load product list");
            $("#ProductListBlock").load("/mvcdialogtutorial/Product/List");
        }
    </script>
</body>
</html>

     