@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserList</title>
    <link rel="stylesheet" href="../Content/style.css" />
</head>
<body>
    <div id="container">
        <h1>My Users</h1>
        <nav><a href="#list">List</a> - <a href="#add">Add</a></nav>
        <div id="app"></div>
    </div>
    <script type="text/javascript" data-main="../Scripts/main.js" src="~/Scripts/require.js"></script>
</body>
</html>