@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Product Web Page</title>
    <style type="text/css">
       
    </style>
    <link rel="stylesheet" href="~/Content/layout/cute3columns.css" />
    <link rel="stylesheet" href="~/Scripts/jstree/themes/classic/style.css" />
    <link rel="stylesheet" href="~/Content/colorbox.css" />

    <script type="text/javascript" src="~/Scripts/jquery-1.8.2.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-ui-1.9.0.js"></script>
    <script type="text/javascript" src="~/Scripts/jstree/jquery.jstree.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.colorbox.js"></script>

    <script type="text/javascript">
        $(function () {
            var myTree = $("#treeContainer").jstree({
                "json_data": {
                    "ajax": {
                        "url": "/ProductSys.WebApi/api/FunctionMenu/GetJsTreeView",
                        "type": "GET",
                        "dataType": "json",
                        "contentType": "application/json charset=utf-8",
                        "success": function (data) {
                            //alert(data);
                        }
                    }
                },
                "plugins": ["themes", "json_data", "ui"]
            });
            myTree.bind("select_node.jstree", function (event, data) {
                var functionId = $('#treeContainer').jstree('get_selected').attr('id');
                loadMainGridData(functionId);
            });
        })

        function loadMainGridData(functionId) {
            if (functionId == 6) {
                $("#mainGridContainer").html("")
                    .load('/ProductWebPortal/Product/List', function () {
                        $("#mainGridContainer").focus();
                    });
            }
        }

        var $mainGridRowSelected = function(row){
            var productId = row.ID;

            $("#mainFormContainer").html("")
                .load('/ProductWebPortal/Product/Detail/' + productId, function () {
                    $("#mainFormContainer").focus();
                });

            $("#childGridContainer").html("")
                .load('/ProductWebPortal/Order/List/' + productId, function () {
                    $("#childGridContainer").focus();
                });
        }
       
    </script>
</head>
<body>
	<div id="header" style="height:40px;">

	</div>
	<div class="colmask blogstyle">
		<div class="colmid">
		    <div class="colleft">
                <div class="col1">
                    <div id="treeContainer" style="height:790px;"></div>
                </div>
                <div class="col2">
                    <div id="mainGridContainer"></div>
                </div>
                <div class="col3">
                    <div class="col31">
                        <div id="mainFormContainer">

                        </div>
                    </div>
                    <div class="col32">
                        <div id="childGridContainer">

                        </div>
                    </div>
                </div>
		    </div>
		</div>
	</div>
	<div id="footer" style="height:20px;"></div>
</body>
</html>
